{% extends "quoteapp/base.html" %}

{% block content %}

<form method="POST" action="{% url 'quoteapp:tag' %}">
    {% csrf_token %}
    <div style="padding-top: 10px">
        <label class="quote"><b>Enter the tag name:</b>
            {{form.name}}
        </label>
        <span>{{ form.errors.name }}</span>
    </div>
    <div style="padding-left: 200px;">
        <button type="submit" class="btn btn-success">Submit</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
    </div>
</form>

{% endblock %}
