{% extends "quoteapp/base.html" %}

{% block content %}

{% if messages %}
<div class="text">
    {% for message in messages %}
    <div {% if message.tags %} class="alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

<form action="{% url 'users:login' %}" method="post">
    {% csrf_token %}
    <div>
        <label class="quote"> Username:
            {{ form.username }}
        </label>
    </div>

    <div>
        <label class="quote">Password:
            {{ form.password }}
        </label>
    </div>

    <div class="grid">
        <button type="btn-submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
    </div>
    <div class="small text-center">
        <a href="{% url "users:password_reset" %}" class="text-center"><i>Forgot Password?</i></a>
    </div>
</form>

{% endblock %}
